[project]
	description = Watcher Docker files used to easily a complete Watcher solution
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Patrick Lechat (ptklechat)
[access "refs/for/refs/*"]
	read = group user/Patrick Lechat (ptklechat)
	push = group user/Patrick Lechat (ptklechat)
	label-Code-Review = -2..+2 group user/Patrick Lechat (ptklechat)
	label-Verified = -1..+1 group user/Patrick Lechat (ptklechat)
	rebase = group user/Patrick Lechat (ptklechat)
	removeReviewer = group user/Patrick Lechat (ptklechat)
	submit = group user/Patrick Lechat (ptklechat)
[access "refs/heads/*"]
	read = group user/Patrick Lechat (ptklechat)
	create = group user/Patrick Lechat (ptklechat)
	push = +force group user/Patrick Lechat (ptklechat)
	pushMerge = group user/Patrick Lechat (ptklechat)
[access "refs/tags/*"]
	push = +force group user/Patrick Lechat (ptklechat)
	pushTag = group user/Patrick Lechat (ptklechat)
	pushSignedTag = group user/Patrick Lechat (ptklechat)
