[project]
	description = Watcher Docker files used to easily a complete Watcher solution
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/ptklechat
[access "refs/for/refs/*"]
	read = group user/ptklechat
	push = group user/ptklechat
	label-Code-Review = -2..+2 group user/ptklechat
	label-Verified = -1..+1 group user/ptklechat
	rebase = group user/ptklechat
	removeReviewer = group user/ptklechat
	submit = group user/ptklechat
[access "refs/heads/*"]
	read = group user/ptklechat
	create = group user/ptklechat
	push = +force group user/ptklechat
	pushMerge = group user/ptklechat
[access "refs/tags/*"]
	push = +force group user/ptklechat
	pushTag = group user/ptklechat
	pushSignedTag = group user/ptklechat
